  <h1>About node</h1>

  <h2>Main</h2>
  Name: <%= name %><br/>
  Full name: <%= full_name %><br/>
  <% unless kind_of? Lipa::Root %>
  Kind: <%= kind %><br/>
  Parent: <%= link_to parent %><br/>
  <% end %>

  <h2>Children</h2>
  <table border="0">
    <tr><th>Name</th><th>Link<th></tr>
    <% children.each_pair do |key, ch|%>
    <tr><td><%= key.to_s %></td><td><%= link_to ch %><td></tr>
    <%end%>
  </table>

  <h2>Attributes</h2>
  <table border="0">
    <tr><th>Name</th><th>Value</th></tr>
    <% eval_attrs.each_pair do |key, val|%>
    <tr><td><%= key.to_s %></td><td><%= val.kind_of?(Lipa::Node) ? link_to(val) : val %></td></tr>
    <%end%>
  </table>

