<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title><%= full_name %></title>
</head>
<body>
  <h1>About node</h1>

  <h2>Main</h2>
  Name: <%= name %><br/>
  Full name: <%= full_name %><br/>
  <% unless kind_of? Lipa::Tree %>
  Kind: <%= kind %><br/>
  Parent: <a href="<%= parent.full_name %>"><%= parent.name %></a><br/>
  <% end %>

  <h2>Children</h2>
  <table border="0">
    <tr><th>Name</th><th>Link<th></tr>
    <% children.each_pair do |key, ch|%>
    <tr><td><%= key.to_s %></td><td><a href="<%= ch.full_name %>"><%= ch.name %></a><br/><td></tr>
    <%end%>
  </table>

  <h2>Attributes</h2>
  <table border="0">
    <tr><th>Name</th><th>Value<th></tr>
    <% attrs.each_pair do |key, val|%>
    <tr><td><%= key.to_s %></td><td><%= instance_eval(key.to_s) %><td></tr>
    <%end%>
  </table>
</body>
</html>
